<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间，主要作用：分类，保证Sql节点唯一化 -->
<mapper namespace="com.superhero.netctoos.logdailymag.mapper.LogdailyMapper">

<resultMap type="LogDailyBean" id="logDailyMap">
		<id property="id" column="id" javaType="long" />
		<result property="dailyName" column="daily_name"
			javaType="string" />
		<result property="dailyTime" column="daily_time" />
	<result property="dailyMod" column="daily_mod"/>
	<result property="dailyType" column="daily_type"/>
		</resultMap>
		


	<select id="countLogDaily" resultType="int">
		select count(*) from t_log_daily
		<include refid="commonSQL"></include>
	</select>
	
	
	<select id="getLogDailyBeanByStartTimeAndEndTime" resultMap="logDailyMap">
		
		select * from t_log_daily
		<include refid="commonSQL"></include>
		limit #{params.page},#{params.each_Num}
		
	</select>
	
	<sql id="commonSQL">
		<where>
		
			<if test="params.startTime!=null ">
			 and daily_time>= #{params.startTime}
			</if>
			<if test="params.endTime!=null ">
			 and daily_time&lt;= #{params.endTime}
			</if>
		</where>
	</sql>






</mapper>